
.client-style {
  font-family: $clientfont-family-base;
  $color: $clientcolor-2;
  border-bottom: 1px solid $color-grey-3;
  border-top: 1px solid $color-grey-3;
  margin: 1em 0 2em;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
  }

  a {
    color: $clientcolor-3;
    &:hover {}
    &:active {}
    &:focus{}
  }

  // …
  
}

.white{
  background-color: $mycolor-5;
}

img {
  vertical-align: middle;
  border-style: none;
}